<div class="container text-center">

    	<div class="text-center">
    	<p>
    		<img alt="Logo Della Volpe" height="50px" 
    			 src="../../static/core/img/logo-tdv.png" 
    			 th:src="@{/core/img/logo-tdv.png}"></img>
    	</p>
    	</div>
	
	<div class="panel panel-default" style="background-color: #F6F6F6;">
		<div class="panel-body">
			<h3>Sessão Encerrada, <a href="http://extranet.dellavolpe.com.br">clique aqui</a> para realizar o Login.</h3>			
		</div>
	</div>		
	
	<br/>
</div>
<script language="JavaScript" src="../../static/core/js/shortcut.js" th:src="@{/core/js/shortcut.js}"></script>
<script src="../../static/core/js/tdvshortlogin-1.0.0.js" th:src="@{/core/js/tdvshortlogin-1.0.0.js}"></script>
