<div class="navbar navbar-default navbar-fixed-top navbar-inverse bg-laranja-tdv" role="navigation" th:fragment="menu-superior">
	<div class="container">
    	<div class="navbar-header">
     		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
      		</button>
			<a class="navbar-brand" href="/leilao" style="padding-top: 10px;">
				<img src="../../static/core/img/lastbitlogo.png" th:src="@{/core/img/lastbitlogo.png}" height="30px" alt="Cadastro TCC"></img>
			</a>
    	</div>
    	<div class="navbar-collapse collapse">
			<div th:if="${session.usuarioLogado}">
 				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/leilao/buscar" >
							<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>  
					 		Leilões								
						</a>
           			</li>
           			<li>
						<a href="/leilao/produto" >
							<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
							Meus Produtos
						</a>
           			</li> 
           			<li>
						<a href="/mesa" >
							<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
							Meus Lances
						</a>
           			</li>
 				</ul>
        		<ul class="nav navbar-nav navbar-right" style="font-family: monospace;">
         			<li class="dropdown">
           				<a href="" class="dropdown-toggle" data-toggle="dropdown">
           					<img src="../../static/core/img/default-avatar.png" th:src="@{/core/img/default-avatar.png}" height="18px" class="img-circle" alt="">
           					</img> &nbsp; 
           					<span class="username hidden-xs" th:text="${ session.usuarioLogado.nome}">{{ $scope.usuario.nome.split(" ")[0] }}</span>&nbsp; 
           					<span class="caret"></span>
  						</a>
              			<ul class="dropdown-menu" role="menu"> 
							<li class="dropdown-header">
							 	Login: <span class="badge" th:text="${ session.usuarioLogado.login }" ><i class="glyphicon glyphicon-user"></i></span>
							</li>
							<li class="dropdown-header">
								Email: <span class="badge" th:text="${ session.usuarioLogado.email}"><i class="glyphicon glyphicon-envelope"></i> {{ usuCtrl.usuarioLogado.email }}</span>
							</li>
							<li role="separator" class="divider"></li>
							<li class="divider"></li> 		                
							<li class="dropdown-header">
								<a href="/leilao/usuario/login/logout">
									<i class="glyphicon glyphicon-log-out"></i> &nbsp; Sair
								</a>
							</li>
               			</ul>
					</li>
				</ul> 
			</div>	               
     	</div><!--/.nav-collapse -->
  	</div>
</div>
    
    