<div ng-controller="ProdutoCadastroController as ctrl">
	<div class="panel with-nav-tabs panel-tdv">
		<div class="panel-heading">
			<h2>Produtos</h2>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<!-- INICIO TAB CADASTRO -->
				<div class="tab-pane fade in active">
					<form role="form" name="frmSolicitacaoCarga" ng-submit="ctrl.save()">
						<div class="row form-inline">
								<div class="col-xs-9 col-md-9">
									<div class="form-group">
										<label>Titulo:</label> 
										<input type="text"
											   name="id"
											   class="form-control" 
											   id="id_titulo"
											   autofocus="autofocus"
											   style="width: 726px;"
											   ng-model="ctrl.produto.titulo"/>
									</div>
								</div>
								<div class="pull-right">
									<div class="form-group">
										<label class="label label-default">Codigo:</label> 
										<div class="badge" ng-show="ctrl.produto.id">
											<span>{{ctrl.produto.id}}</span>
										</div>										
									</div>
								</div>
						</div>
						<hr/>
						<div style="font-size: 12px;">
							<div class="row">
								<div class="col-md-2">
									<label>Valor:</label> 
									<input type="number"
										   step="0.01" 
										   name="valorInicio"
										   class="form-control" 
										   id="id_valorInicio"
										   autofocus="autofocus" 
										   required="true"
										   ng-model="ctrl.produto.valorInicio"/>
								</div>
								<div class="col-md-10">
									<label>Descricao:</label> 
									<input type="text"
										   step="0.01" 
										   name="descricao"
										   class="form-control" 
										   id="id_descricao"
										   autofocus="autofocus" 
										   required="true"
										   ng-model="ctrl.produto.descricao"/>
								</div>								
							</div>
							<br/>
							<hr style="border-top: 1px solid orange; margin-bottom: 5px;"/>
							<div align="center">
								<button type="submit" class="btn btn-success">
									<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Cadastrar
								</button>
								<a class="btn btn-danger" data-toggle="modal">
									<i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Cancelar
								</a>														
								<a href="/leilao/anexo/{{ctrl.produto.id}}" class="btn btn-info" data-toggle="modal" ng-show="ctrl.produto.id">
									<i class="glyphicon glyphicon-paperclip" aria-hidden="true"></i> Anexos
								</a>														
							</div>										
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>