<div class="panel with-nav-tabs panel-tdv">
	<div align="center">
		<div class="row" style="height:400px;">
			<div class="col-md-4" style="vertical-align:middle;height:200px;margin-top: 100px;padding-top: 100px;">
				<a href="/leilao/produto/cadastro" >
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Cadastrar
				</a>
			</div>
			<div class="col-md-4" style="vertical-align:middle;height:200px;margin-top: 100px;padding-top: 100px;">
				<a href="/leilao/produto/consulta" >
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					Consultar
				</a>
			</div>
			<div class="col-md-4" style="vertical-align:middle;height:200px;margin-top: 100px;padding-top: 100px;">
				<a href="/leilao/exclusao" >
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					Excluir
				</a>
			</div>					
		</div>	
	</div>
</div>
